.svg-wrapper{
  padding: 25px;
  svg{
    max-width: 100%;
  }

  path{
    stroke:$black;
    stroke-width: 1.5;
    fill: $white;
  }
  path.explored{
    fill:$green;
  }
  path.probed{
    fill:$red;
  }
}

