.svg-wrapper{
  padding: 25px;
  transition: all 0.2s ease;
  svg{
    max-width: 100%;
  }

  path{
    stroke:$black;
    stroke-width: 1.5;
    fill: $white;
    cursor:pointer;
  }
  path.explored{
    fill:$green;
  }
  path.probed{
    fill:$red;
  }
  path.probed.explored{
    stroke:$green;
    stroke-width:3;
  }
}

.svg-wrapper.flipped{
  transform: rotateX(180deg) rotateY(180deg);
}

