<!doctype html>
<html ng-app="sw">
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link href="https://fonts.googleapis.com/css?family=Catamaran:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css"/>
<link rel="manifest" href="manifest.json">
<title>Star Wars: Rebellion Tracking App</title>
</head>
<body ng-controller="sw-board">
  <div class="wrapper">
    <div class="container svg-wrapper">
        <p>Your situation on map. Click area to probe it.</p>
        <svg viewBox="0 0 980 530" xmlns="http://www.w3.org/2000/svg">
         <g id="{{region.name}}" ng-repeat="region in regions">
          <path ng-click=probe(planet) ng-repeat="planet in region.planets" id="{{planet.name}}" ng-attr-d="{{planet.path}}" ng-class="{'probed':planet.probed, 'explored':planet.explored}" />
         </g>
        </svg>
    </div>
    <div class="container">
      <button class="clear" ng-click="clear(regions)">Clear all explored systems</button>
    </div>
    <div class="container-fluid">
    <div class="col-sm-12"><p>Mark regions as probed or explored:</p></div>
    <div ng-repeat="region in regions" class="col-lg-3 col-sm-6 region">
    <div class="inner">
      <h2>{{region.name}}</h2>
      <div ng-repeat="planet in region.planets" class="planet">
      <span class="status explored" ng-if="planet.explored">E</span>
      <span class="status probed" ng-if="planet.probed">P</span>
      <span class="planet_name">{{planet.name}}</span>
      <button class="probe" ng-click="probe(planet)" ng-class="{'disabled' : planet.probed}">Probe</button>
      <button class="explore" ng-click="explore(planet)"  ng-class="{'disabled' : planet.explored}">Explore</button>
    </div>
  </div>
  </div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>